* {box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: 0;
}

.hbar {
  color :white;
  padding-top: 0.3px;
  font-size: 15.5px;
  font-weight: bold;
  padding-left: 9px;
  background: #0088cc;
}

.hbar form {
    padding-right: 10px;
    font-size: 13px;
    font-weight: bold;
    color: white;
    padding: 8px 10px;
    text-align: center;
    padding-right: 25px;
    align-items: center;
    width: auto;
    height: 16px;
}

/* Style tab links */
.tablink {
  background-color: #ff6666;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  font-weight: bold;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: none;
  padding: 100px 20px;
  height: 100%;
}